body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: powderblue;
}

header {
    font-size: 40px;
    color: black;
    text-align: center;
}

* {
    box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    alignment: center;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.panel {
    padding: 16px;
    background-color: white;
    text-align: center;
}

.normalbutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
    font-size: larger;
}


.linkbutton {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    width  : 60%;
    padding: 0;

    font-size: 80%;
    color: red;
    /*background-color: #900;*/
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}


